<!DOCTYPE html>
<html>
  <head>
    <title>Gen WC</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../static/css/table.css" />
  </head>
  <body>
    <h1>generate wordcloud</h1>
    <div id="selectArea">
      <div>
        <form id="generateForm">
          <div>
            <label for="height">高さ</label>
            <input
              type="range"
              name="height"
              id="height"
              min="100"
              max="1000"
              step="10"
              value="500"
            />
            <span id="heightVal">500</span>
          </div>
          <div>
            <label for="width">幅</label>
            <input
              type="range"
              name="width"
              id="width"
              min="100"
              max="1000"
              step="10"
              value="500"
            />
            <span id="widthVal">500</span>
          </div>
          <div>
            <label for="min">最小文字サイズ</label>
            <input
              type="range"
              name="min"
              id="min"
              min="10"
              max="100"
              step="1"
              value="15"
            />
            <span id="minVal">15</span>
          </div>
          <div>
            <label for="max">最大文字サイズ</label>
            <input
              type="range"
              name="max"
              id="max"
              min="10"
              max="500"
              step="1"
              value="250"
            />
            <span id="maxVal">250</span>
          </div>
          <div>
            <label for="step">ステップ</label>
            <input
              type="range"
              name="step"
              id="step"
              min="1"
              max="30"
              step="1"
              value="20"
            />
            <span id="stepVal">1</span>
          </div>
          <input type="radio" id="tf" name="metric" value="tf" checked />
          <label for="tf">TF値</label><br />

          <input type="radio" id="df" name="metric" value="df" />
          <label for="df">DF値</label><br />

          <input type="radio" id="tfidf" name="metric" value="tfidf" />
          <label for="tfidf">TF-IDF値</label><br />

          <input type="checkbox" id="numeral" name="numeral" />
          <label for="numeral">数詞</label><br />

          <input type="checkbox" id="commonNoun" name="commonNoun" />
          <label for="commonNoun">普通名詞</label><br />

          <input type="checkbox" id="properNoun" name="properNoun" />
          <label for="properNoun">固有名詞</label><br />

          <p id="result"></p>
          <input type="submit" value="Generate" />
        </form>
      </div>
      <div id="wordcloud"></div>
    </div>
    <div id="file_count"></div>
    <div id="file_list"></div>
  </body>
  <script src="../static/js/main.js"></script>
</html>
