<!DOCTYPE html>
<html>
<head>
    <title>Text Click Post</title>
    <link rel = "stylesheet" href = '..\static\css\table.css'>
</head>
<body>
  <div style = "display: flex;">
    <svg xmlns="http://www.w3.org/2000/svg" width="400" height="400">
      <style>text{font-family:'Yu Mincho';font-weight:normal;font-style:normal;}</style>
      <rect width="100%" height="100%" style="fill:white"></rect>
      <text transform="translate(2,197)" font-size="196" style="fill:rgb(0, 96, 255)">情報</text>
      <text transform="translate(4,378)" font-size="196" style="fill:rgb(255, 226, 0)">学生</text>
      <text transform="translate(195,365)" font-size="45" style="fill:rgb(255, 96, 0)">委員</text>
      <text transform="translate(150,38)" font-size="44" style="fill:rgb(0, 12, 255)">授業</text>
      <text transform="translate(110,390)" font-size="42" style="fill:rgb(35, 255, 212)">活動</text>
      <text transform="translate(264,34)" font-size="38" style="fill:rgb(255, 222, 0)">知識</text>
      <text transform="translate(15,368)" font-size="38" style="fill:rgb(0, 16, 255)">会議</text>
      <text transform="translate(166,242)" font-size="37" style="fill:rgb(255, 71, 0)">調査</text>
      <text transform="translate(313,244)" font-size="37" style="fill:rgb(167, 255, 80)">年度</text>
      <text transform="translate(22,318)" font-size="34" style="fill:rgb(80, 255, 167)">大学</text>
      <text transform="translate(304,356)" font-size="34" style="fill:rgb(0, 0, 182)">環境</text>
      <text transform="translate(325,299)" font-size="34" style="fill:rgb(255, 34, 0)">代表</text>
      <text transform="translate(45,29)" font-size="33" style="fill:rgb(0, 0, 255)">意見</text>
      <text transform="translate(113,352)" font-size="27" style="fill:rgb(187, 0, 0)">クラス</text>
      <text transform="translate(340,23)" font-size="27" style="fill:rgb(0, 124, 255)">生活</text>
      <text transform="translate(188,192)" font-size="26" style="fill:rgb(44, 255, 202)">オン</text>
      <text transform="translate(238,312)" font-size="25" style="fill:rgb(0, 8, 255)">内容</text>
      <text transform="translate(149,309)" font-size="24" style="fill:rgb(0, 0, 214)">問題</text>
      <text transform="translate(94,192)" font-size="24" style="fill:rgb(160, 255, 86)">課題</text>
      <text transform="translate(6,391)" font-size="23" style="fill:rgb(0, 168, 255)">図書</text>
      <text transform="translate(172,156)" font-size="23" style="fill:rgb(0, 0, 191)">ライン</text>
      <text transform="translate(235,396)" font-size="17" style="fill:rgb(128, 255, 119)">アンケート</text>
      <text transform="translate(266,206)" font-size="17" style="fill:rgb(0, 0, 146)">企画</text>
      <text transform="translate(165,204)" font-size="16" style="fill:rgb(255, 226, 0)">教育</text>
      <text transform="translate(174,125)" font-size="16" style="fill:rgb(225, 255, 22)">組織</text>
      <text transform="translate(209,56)" font-size="15" style="fill:rgb(0, 108, 255)">必要</text>
      <text transform="translate(330,71)" font-size="15" style="fill:rgb(131, 255, 115)">実施</text>
      <text transform="translate(202,261)" font-size="15" style="fill:rgb(222, 255, 25)">説明</text>
      <text transform="translate(71,48)" font-size="15" style="fill:rgb(0, 120, 255)">研究</text>
      <text transform="translate(1,212)" font-size="15" style="fill:rgb(0, 0, 255)">社会</text>
      <text transform="translate(321,392)" font-size="15" style="fill:rgb(255, 141, 0)">システム</text>
      <text transform="translate(67,275)" font-size="15" style="fill:rgb(0, 0, 173)">議長</text>
      <text transform="translate(314,260)" font-size="15" style="fill:rgb(0, 0, 168)">総合</text>
      <text transform="translate(13,23)" font-size="15" style="fill:rgb(0, 12, 255)">報告</text>
      <text transform="translate(266,189)" font-size="15" style="fill:rgb(183, 255, 64)">資料</text>
      <text transform="translate(204,205)" font-size="15" style="fill:rgb(180, 255, 67)">結果</text>
      <text transform="translate(189,279)" font-size="15" style="fill:rgb(255, 26, 0)">提出</text>
      <text transform="translate(261,82)" font-size="15" style="fill:rgb(0, 108, 255)">学園</text>
      <text transform="translate(3,54)" font-size="15" style="fill:rgb(255, 59, 0)">改善</text>
      <text transform="translate(206,86)" font-size="15" style="fill:rgb(90, 255, 157)">筑波</text>
      <text transform="translate(254,285)" font-size="15" style="fill:rgb(255, 148, 0)">回答</text>
      <text transform="translate(7,235)" font-size="15" style="fill:rgb(0, 108, 255)">連絡</text>
      <text transform="translate(108,214)" font-size="15" style="fill:rgb(255, 104, 0)">団体</text>
      <text transform="translate(111,229)" font-size="15" style="fill:rgb(155, 0, 0)">対象</text>
      <text transform="translate(12,160)" font-size="15" style="fill:rgb(255, 137, 0)">10</text>
      <text transform="translate(116,163)" font-size="15" style="fill:rgb(196, 255, 51)">宿舎</text>
      <text transform="translate(367,315)" font-size="15" style="fill:rgb(73, 255, 173)">管理</text>
      <text transform="translate(265,50)" font-size="9" style="fill:rgb(57, 255, 190)">データ</text>
      <text transform="translate(379,79)" font-size="9" style="fill:rgb(199, 255, 48)">運営</text>
      <text transform="translate(121,320)" font-size="9" style="fill:rgb(96, 255, 151)">para</text>
      <text transform="translate(6,341)" font-size="9" style="fill:rgb(0, 212, 255)">広報</text>
      <text transform="translate(142,53)" font-size="9" style="fill:rgb(106, 255, 141)">利用</text>
      <text transform="translate(58,202)" font-size="9" style="fill:rgb(41, 255, 206)">留学</text>
      <text transform="translate(345,42)" font-size="9" style="fill:rgb(0, 48, 255)">作成</text>
      <text transform="translate(378,157)" font-size="9" style="fill:rgb(173, 0, 0)">春日</text>
      <text transform="translate(124,27)" font-size="9" style="fill:rgb(0, 196, 255)">今後</text>
      <text transform="translate(283,117)" font-size="9" style="fill:rgb(255, 96, 0)">対面</text>
      <text transform="translate(91,141)" font-size="9" style="fill:rgb(0, 112, 255)">動画</text>
      <text transform="translate(15,129)" font-size="9" style="fill:rgb(28, 255, 219)">分析</text>
      <text transform="translate(91,161)" font-size="9" style="fill:rgb(255, 152, 0)">使用</text>
      <text transform="translate(315,165)" font-size="9" style="fill:rgb(0, 52, 255)">理解</text>
      <text transform="translate(88,73)" font-size="9" style="fill:rgb(255, 178, 0)">日本</text>
      <text transform="translate(138,322)" font-size="9" style="fill:rgb(0, 164, 255)">構成</text>
      <text transform="translate(313,310)" font-size="9" style="fill:rgb(0, 208, 255)">学群</text>
      <text transform="translate(208,120)" font-size="9" style="fill:rgb(0, 92, 255)">The</text>
      <text transform="translate(51,126)" font-size="9" style="fill:rgb(255, 82, 0)">学長</text>
      <text transform="translate(11,188)" font-size="9" style="fill:rgb(228, 0, 0)">状況</text>
      <text transform="translate(186,73)" font-size="9" style="fill:rgb(22, 255, 225)">先生</text>
      <text transform="translate(3,255)" font-size="9" style="fill:rgb(41, 255, 206)">専門</text>
      <text transform="translate(115,272)" font-size="9" style="fill:rgb(0, 140, 255)">2021</text>
      <text transform="translate(135,93)" font-size="9" style="fill:rgb(196, 0, 0)">メディア</text>
      <text transform="translate(58,213)" font-size="9" style="fill:rgb(38, 255, 209)">対応</text>
      <text transform="translate(268,215)" font-size="9" style="fill:rgb(0, 196, 255)">取材</text>
      <text transform="translate(380,352)" font-size="9" style="fill:rgb(138, 255, 109)">確認</text>
      <text transform="translate(95,296)" font-size="9" style="fill:rgb(106, 255, 141)">参加</text>
      <text transform="translate(378,333)" font-size="9" style="fill:rgb(0, 64, 255)">担当</text>
      <text transform="translate(265,253)" font-size="9" style="fill:rgb(255, 82, 0)">新入</text>
      <text transform="translate(337,99)" font-size="9" style="fill:rgb(0, 156, 255)">11</text>
      <text transform="translate(4,34)" font-size="9" style="fill:rgb(0, 184, 255)">コロナ</text>
      <text transform="translate(278,146)" font-size="9" style="fill:rgb(150, 0, 0)">目的</text>
      <text transform="translate(195,298)" font-size="9" style="fill:rgb(157, 255, 90)">学内</text>
      <text transform="translate(54,147)" font-size="9" style="fill:rgb(38, 255, 209)">全学</text>
      <text transform="translate(135,76)" font-size="9" style="fill:rgb(228, 255, 19)">決定</text>
      <text transform="translate(168,178)" font-size="9" style="fill:rgb(255, 115, 0)">said</text>
      <text transform="translate(310,373)" font-size="9" style="fill:rgb(0, 80, 255)">自由</text>
      <text transform="translate(65,223)" font-size="9" style="fill:rgb(173, 0, 0)">依頼</text>
      <text transform="translate(107,11)" font-size="9" style="fill:rgb(0, 8, 255)">実行</text>
      <text transform="translate(4,303)" font-size="9" style="fill:rgb(0, 76, 255)">出席</text>
      <text transform="translate(372,361)" font-size="9" style="fill:rgb(214, 0, 0)">令和</text>
      <text transform="translate(65,394)" font-size="9" style="fill:rgb(223, 0, 0)">選出</text>
      <text transform="translate(306,289)" font-size="9" style="fill:rgb(231, 255, 15)">人間</text>
      <text transform="translate(372,139)" font-size="9" style="fill:rgb(241, 252, 6)">講義</text>
      <text transform="translate(49,164)" font-size="9" style="fill:rgb(35, 255, 212)">交流</text>
      <text transform="translate(213,323)" font-size="9" style="fill:rgb(54, 255, 193)">文化</text>
      <text transform="translate(130,9)" font-size="9" style="fill:rgb(0, 220, 254)">議題</text>
      <text transform="translate(374,99)" font-size="9" style="fill:rgb(0, 0, 173)">現在</text>
      <text transform="translate(219,396)" font-size="9" style="fill:rgb(0, 100, 255)">共有</text>
      <text transform="translate(380,269)" font-size="9" style="fill:rgb(109, 255, 138)">開催</text>
      <text transform="translate(376,170)" font-size="9" style="fill:rgb(19, 252, 228)">意味</text>
      <text transform="translate(83,98)" font-size="9" style="fill:rgb(235, 255, 12)">実際</text>
      <text transform="translate(244,226)" font-size="9" style="fill:rgb(0, 0, 209)">people</text>
      <text transform="translate(317,109)" font-size="9" style="fill:rgb(255, 34, 0)">レポート</text>
      <text transform="translate(4,313)" font-size="9" style="fill:rgb(0, 176, 255)">番号</text>
      <text transform="translate(90,117)" font-size="9" style="fill:rgb(0, 80, 255)">形態</text>
      <text transform="translate(318,80)" font-size="9" style="fill:rgb(22, 255, 225)">エリア</text>
      <text transform="translate(378,181)" font-size="9" style="fill:rgb(112, 255, 135)">予定</text>
      <text transform="translate(51,181)" font-size="9" style="fill:rgb(191, 0, 0)">歓迎</text>
      <text transform="translate(4,141)" font-size="9" style="fill:rgb(96, 255, 151)">比較</text>
      <text transform="translate(196,319)" font-size="9" style="fill:rgb(0, 196, 255)">000</text>
      <text transform="translate(111,120)" font-size="9" style="fill:rgb(255, 122, 0)">テスト</text>
      <text transform="translate(39,254)" font-size="9" style="fill:rgb(0, 0, 237)">キー</text>
      <text transform="translate(336,205)" font-size="9" style="fill:rgb(0, 108, 255)">主義</text>
      <text transform="translate(348,31)" font-size="9" style="fill:rgb(0, 0, 150)">感染</text>
      <text transform="translate(246,9)" font-size="9" style="fill:rgb(0, 40, 255)">新歓</text>
      <text transform="translate(73,245)" font-size="9" style="fill:rgb(9, 240, 238)">交換</text>
      <text transform="translate(181,164)" font-size="9" style="fill:rgb(0, 104, 255)">ページ</text>
      <text transform="translate(182,48)" font-size="9" style="fill:rgb(193, 255, 54)">ワード</text>
      <text transform="translate(273,237)" font-size="9" style="fill:rgb(0, 136, 255)">12</text>
      <text transform="translate(138,270)" font-size="9" style="fill:rgb(144, 255, 102)">分野</text>
      <text transform="translate(337,370)" font-size="9" style="fill:rgb(155, 0, 0)">学習</text>
      <text transform="translate(192,395)" font-size="9" style="fill:rgb(128, 0, 0)">公開</text>
      <text transform="translate(332,126)" font-size="9" style="fill:rgb(183, 255, 64)">存在</text>
      <text transform="translate(12,171)" font-size="9" style="fill:rgb(244, 248, 2)">質問</text>
      <text transform="translate(114,138)" font-size="9" style="fill:rgb(212, 255, 35)">科目</text>
      <text transform="translate(6,63)" font-size="9" style="fill:rgb(255, 22, 0)">記述</text>
      <text transform="translate(7,8)" font-size="9" style="fill:rgb(178, 0, 0)">期間</text>
      <text transform="translate(108,279)" font-size="9" style="fill:rgb(0, 0, 255)">2020</text>
      <text transform="translate(317,94)" font-size="9" style="fill:rgb(157, 255, 90)">処理</text>
      <text transform="translate(47,273)" font-size="9" style="fill:rgb(180, 255, 67)">機能</text>
      <text transform="translate(268,263)" font-size="9" style="fill:rgb(0, 220, 254)">技術</text>
      <text transform="translate(117,239)" font-size="9" style="fill:rgb(255, 119, 0)">物品</text>
      <text transform="translate(186,84)" font-size="9" style="fill:rgb(255, 48, 0)">制作</text>
      <text transform="translate(331,214)" font-size="9" style="fill:rgb(255, 30, 0)">業務</text>
      <text transform="translate(178,135)" font-size="9" style="fill:rgb(0, 136, 255)">氏名</text>
      <text transform="translate(242,19)" font-size="9" style="fill:rgb(223, 0, 0)">計算</text>
      <text transform="translate(1,72)" font-size="9" style="fill:rgb(255, 219, 0)">詳細</text>
      <text transform="translate(175,287)" font-size="9" style="fill:rgb(235, 255, 12)">ファイル</text>
      <text transform="translate(250,29)" font-size="9" style="fill:rgb(255, 19, 0)">クラ</text>
      <text transform="translate(189,61)" font-size="9" style="fill:rgb(131, 255, 115)">修正</text>
      <text transform="translate(378,39)" font-size="9" style="fill:rgb(106, 255, 141)">評価</text>
      <text transform="translate(378,66)" font-size="9" style="fill:rgb(173, 255, 73)">機会</text>
      <text transform="translate(371,258)" font-size="9" style="fill:rgb(255, 134, 0)">部分</text>
      <text transform="translate(380,108)" font-size="9" style="fill:rgb(35, 255, 212)">興味</text>
      <text transform="translate(192,108)" font-size="9" style="fill:rgb(219, 255, 28)">支援</text>
      <text transform="translate(183,93)" font-size="9" style="fill:rgb(182, 0, 0)">蒐場</text>
      <text transform="translate(380,128)" font-size="9" style="fill:rgb(167, 255, 80)">創成</text>
      <text transform="translate(304,279)" font-size="9" style="fill:rgb(244, 248, 2)">影響</text>
      <text transform="translate(54,135)" font-size="9" style="fill:rgb(0, 0, 173)">事業</text>
      <text transform="translate(242,114)" font-size="9" style="fill:rgb(255, 22, 0)">活用</text>
      <text transform="translate(7,265)" font-size="9" style="fill:rgb(0, 216, 255)">基礎</text>
      <text transform="translate(50,191)" font-size="9" style="fill:rgb(250, 15, 0)">年次</text>
      <text transform="translate(380,234)" font-size="9" style="fill:rgb(0, 36, 255)">参考</text>
      <text transform="translate(64,72)" font-size="9" style="fill:rgb(255, 19, 0)">学籍</text>
      <text transform="translate(258,145)" font-size="9" style="fill:rgb(255, 196, 0)">計画</text>
    </svg>
  <div id="file_list">
  </div>
</div>
    <script type = "text/javascript" src = '../static/js/file_post.js'>
    </script>
</body>
</html>
